<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>612408413146-6gjike8oi846l5tvnd327f3eh7skfpkt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.612408413146-6gjike8oi846l5tvnd327f3eh7skfpkt</string>
	<key>API_KEY</key>
	<string>AIzaSyAxjVRy4Z3G-a5CBr2C8QkeKM14IlC5rVY</string>
	<key>GCM_SENDER_ID</key>
	<string>612408413146</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shino.TenshokuApp</string>
	<key>PROJECT_ID</key>
	<string>swiftstoragetest</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftstoragetest.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:612408413146:ios:7da329288bcc857f620ee3</string>
	<key>DATABASE_URL</key>
	<string>https://swiftstoragetest.firebaseio.com</string>
</dict>
</plist>